# Do not store the matlab auto-save files.
*.asv

# Only keep relevent cora-code.
code/cora/.git
code/cora/.github
code/cora/.gitattributes
code/cora/.gitignore

code/cora/app
code/cora/contDynamics
code/cora/converter
code/cora/discrDynamics
code/cora/examples
code/cora/hybridDynamics
code/cora/manual
code/cora/matrixSet
code/cora/models
code/cora/nn/rl
# TODO: figure out how to only include: unitTests/unitTest/{test_requiredToolboxes.m,testnn_requiredToolboxes.m}
code/cora/unitTests/ci
code/cora/unitTests/contDynamics
code/cora/unitTests/contSet
code/cora/unitTests/converter
code/cora/unitTests/discrDynamics
code/cora/unitTests/global
code/cora/unitTests/helper
code/cora/unitTests/hybridDynamics
code/cora/unitTests/matrixSet
code/cora/unitTests/models
code/cora/unitTests/nn
code/cora/unitTests/specification
code/cora/unitTests/unitTests/ci
code/cora/unitTests/unitTests/helper