# Do not store the matlab auto-save files.
*.asv

# Only keep relevent cora-code.
code/cora/.git
code/cora/.github
code/cora/.gitattributes
code/cora/.gitignore

code/cora/app
code/cora/contDynamics
code/cora/converter
code/cora/discrDynamics
code/cora/examples
code/cora/hybridDynamics
code/cora/manual
code/cora/matrixSet
# TODO: Figure out how to only include Cora/gitlfs.mat
!code/cora/models/Cora/gitlfs.mat

code/cora/models/auxiliary
code/cora/models/commonocean
code/cora/models/commonroad
code/cora/models/powerSystems
code/cora/models/SpaceEx
code/cora/models/SpaceExConverted
code/cora/models/testCases

code/cora/models/Cora/ARCH 
code/cora/models/Cora/autonomousCar 
code/cora/models/Cora/bus3 
code/cora/models/Cora/contDynamics 
code/cora/models/Cora/coupledVanDerPol 
code/cora/models/Cora/discDynamics 
code/cora/models/Cora/heat3D 
code/cora/models/Cora/nn 
code/cora/models/Cora/parametricModels 
code/cora/models/Cora/PLL 
code/cora/models/Cora/powertrain 
code/cora/models/Cora/productionDestruction 
code/cora/models/Cora/Robertson 
code/cora/models/Cora/roomHeating 
code/cora/models/Cora/SMIB 
code/cora/models/Cora/spacecraftRendezvous 
code/cora/models/Cora/tank 
code/cora/models/Cora/vanDerPol
code/cora/models/Cora/*.m
code/cora/models/Cora/iss.mat
code/cora/models/Cora/build.mat

code/cora/nn/rl

code/cora/unitTests/ci
code/cora/unitTests/contDynamics
code/cora/unitTests/contSet
code/cora/unitTests/converter
code/cora/unitTests/discrDynamics
code/cora/unitTests/global
code/cora/unitTests/helper
code/cora/unitTests/hybridDynamics
code/cora/unitTests/matrixSet
code/cora/unitTests/models
code/cora/unitTests/nn
code/cora/unitTests/specification
code/cora/unitTests/unitTests/ci
code/cora/unitTests/unitTests/helper